body{
    background-color: rgba(1, 255, 113, 0);
}
.frListHeader {
    width: 300px;
    padding-top: 18px;
    background-color: #5C75B0;
    border: 1px solid lavender;
}
.frListHeader > h3 {
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 10px;
}

.frListHeader > input {
    border:1px solid dodgerblue;
    width: 85%;
}

.frListBody {
    height: 500px;
    width: 306px;
    overflow-x: hidden;
    overflow-y: auto;

}
.frListRow {
    border: 1px solid lavender;
    width: 300px;
    padding: 15px ;
    word-wrap: break-word;
}
.frListRow > h2,p {
    padding-right:50px;
}

.addButton {
    background-color:white ;
    margin-left: 6px;
    border-radius: 6px;
}
.starIcon {
    float:right;
    border:1px solid rgba(193, 191, 188, 0.98);
    border-radius: 3px;
}
.deleteIcon {
    float:right;
    border:1px solid rgba(193, 191, 188, 0.98);
    border-radius: 3px;
    margin-left: 6px;
}

.upload-demo-start {
    margin-top: 16px;
}